/* canonical bookcove styles */

/* @both */
body { line-height: 1.25 }
/* @html */
body { margin-left: 10%; margin-right: 10%; }
/* @epub */
body { margin: 0; }

/* @both */
h1 { margin-bottom: 2em; font-weight: normal; text-align: center;
     font-size: 1.4em; margin-bottom: 0; }
p { text-indent: 1.15em; margin-top: 0.1em; margin-bottom: 0.1em;
    text-align: justify; }

/* for front matter */
.fs09 { font-size: 0.9em; }
.fs12 { font-size: 1.2em; }
.fs14 { font-size: 1.4em; }
.mt05 { margin-top: 0.5em }
.mb10 { margin-bottom: 1.0em; }
.tac { text-align: center; }

/* for transcriber's note */
.tn { border-top: 1px solid #999; }
.tn p { text-indent: 0; font-size: 0.9em; }

.lineabove { padding-top: 1em; border-top: 1px solid #999; }
.si { font-style: italic; font-size: 0.9em; }
