body { 
  max-width: 40em;
  margin: 2em auto;
  padding: 0 1em;
  font-family: serif;
  line-height: 1.4;
}

h1 {
  font-size:1.4em;
  text-align: center;
}
h2 {
  margin-top: 2em;
  font-size:1.2em;
  text-align: center;
}

.titlepage {
  text-align: center;
  margin: 2em 0;
}
.titlepage p {
  margin: 0.5em 0;
}

.italic { font-style: italic; }
.bold { font-weight: bold; }

blockquote { margin: 1em 2em; }
blockquote p {
  text-align: justify;
  text-indent: 0;
  font-size:0.85em;
  border:none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

figure {
  margin: 2em 0;
  text-align: center;
}
figure img {
  max-width: 100%;
  height: auto;
}
figcaption {
  margin-top: 0.5em;
  font-style: italic;
}

.poem { margin: 2em 0; }
.poem-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}
.stanza { margin-bottom: 1em; }
.line { margin: 0; }
.indent { margin-left: 2em; }
.indent2 { margin-left: 4em; }
.indent3 { margin-left: 6em; }

.milestone {
  text-align: center;
  margin: 2em 0;
}
.milestone.stars::before {
  content: "*       *       *       *       *"; white-space: pre;
}
.milestone.space { height: 2em; }

table { border-collapse: collapse; margin: 1em 0; }
td, th { border: 1px solid #ccc; padding: 0.5em; }

.transcriber { 
  font-size: 0.9em; 
  border: 1px solid silver; 
  margin: 1.8em 8% 0;
  padding: 0.3em 2%; 
  background-color: #DDDDEE; 
}
.transcriber p { text-indent: 0; margin: 0; }

figure.center70 img { width: 70%; }
figure.left25 { float: left; width: 25%; margin-right: 1em; }
figure.left25 img { width: 100%; }
figure.left40 { float: left; width: 40%; margin-right: 1em; }
figure.left40 img { width: 100%; }

.title-block {
  margin: 2em 0;
}
.title-block p {
  text-align: center;
}
.title-block p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin: 0.2em 0;
  text-indent: 1.2em;
  text-align: justify;
  line-height: 1.25;
  clear: none;
}
