body { margin-left: 11%; margin-right: 10%; line-height: 1.25; }
h1 { margin-bottom: 2em; font-weight: normal; text-align: center;
     font-size: 1.4em; margin-bottom: 0; }
h2 { text-align: center; font-weight: normal; page-break-before: always;
     font-size: 1.25em; margin-top: 3em; margin-bottom: 1em;
     margin-left: auto; margin-right: auto; }
p { text-indent: 1.15em; margin-top: 0.1em; margin-bottom: 0.1em;
    text-align: justify; }
p.no-indent { text-indent: 0; }
.x1 { margin-left: 2em; font-style: italic; }
.x2 { margin-left: 4em; }
.x3 { font-variant: small-caps; text-align: right; margin-right: 2em; }
/* override defaults for this book */
figure { width: 60%; }
figure.left { width: 30%; max-width: 30%; }
figure.right { width: 30%; max-width: 30%; }
/* poetry */
div.poem { margin-left: 2em; }
/* table */
table { margin-left: 2em; }
/* title page styling */
.mt10 { margin-top: 1.0em; }
.fs09 { font-size: 0.9em; }
.fs12 { font-size: 1.2em; }
.fs14 { font-size: 1.4em; }
/* centering */
.titlepage, .original_copyright, .dedication
  { text-align: center; margin: 2em 0; }
.titlepage p, .original_copyright p, .dedication p
  { margin: 0.5em 0; }
/* front page separators */
.titlepage, .dedication, .original_copyright, .toc {
  border-bottom: 1px solid #999;
  padding-bottom: 2em;
}